html {
    font-size: 16px;
}

header {
    /*margin-right: 25%;
    margin-left: 23%*/
    
    /*width: 91%;*/
    /*width: 1vw;*/
    /*margin: 0 auto;
    padding: 4% 20% 3% 20%;*/
    padding: auto;
}

header h1 {
    font-size: min(13vw, 8rem);
    /*font-size: 800%;*/
}

header h2 {
    font-size: min(7vw, 500%);
    /*font-size: 500%;*/
}

header h3 {
    font-size: min(5vw, 350%);
    /*font-size: 350%;*/
}

header h4 {
    font-size: min(3vw, 200%);
    /*font-size: 200%;*/
}

header h5 {
    /*font-size: 130%;*/
    font-size: 2vw;
}

main h1 {
    /*font-size: 14vw;*/
    font-size: 800%;
}

main h2 {
    /*font-size: 8vw;*/
    font-size: 500%;
}

main h3 {
    /*font-size: 5vw;*/
    font-size: 350%;
}

main h4 {
    /*font-size: 3vw;*/
    font-size: 150%;
}

main h5 {
    font-size: 130%;
}

.allignementDroite {
    padding-left: 50%;
}

.allignementCentre {
    text-align: center;
}

.headerTitre {
    /*margin-top: 20%;
    margin-bottom: 30%;*/
    margin:11vh auto;
    height: 100vh;
}

.headerTexte {
    margin-top: 20%;
    margin-bottom: 10%;
}

nav{
    color: #495057;
}

.txtNav {
    padding: 4% 20% 3% 20%;
}

.nav-item {
    min-width: 25%;
    /*float: left;*/
    border-style: solid;
    border-width: 1px;
    border-color: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    background-color: white;
}
.navbar-nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
}

@media (max-width: 991px) {
    .nav-item  {
        font-size: 1rem;
    }
}

.titre-filtre-sup {
    margin-left: 2em;
}

/*.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index:1;
}*/

.accordion-button, .accordion-button:focus, .accordion-button:not(.collapsed) {
    color: #495057;
    border: none;
    box-shadow: none;
    padding: 0;
    transition: none;
    background-color: white !important;
}

/*.goupeCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}*/

input:checked {
    background-color: #495057;
}

.active {
    border-style: solid;
    border-width: 3px;
    border-color: rgba(0,0,0,.55);
    font-weight: bold;
}

.goupeCheckbox {
    display: inline-block;
    vertical-align: top;
    margin-top: 2%;
    width: 49%;
}

.card {
    margin: 5% 5% 5% 5%;
}

.contenu {
    padding-bottom: 5%;
    padding: 5%;
}

main img {
    width: 630px;
    height: 840px;
}

/*.card-header {
    padding-left: 15px;
    color: white; 
    background-color: #6c757d;
}*/

/*.card-title {
    padding: 1% 20%;
}*/

.bullet-point {
    /*width: 28%;*/
    display: inline-block;
    text-align: left;
    /*margin: auto;*/
    vertical-align: top;
}

/* À changer :
 * left = simple
 * top = multi
 * prog = double
 */

 .card-header-simple {
    display: inline-block;
    width: 49%;
    text-align: right;
    vertical-align: top;
}

.card-title-simple {
    margin: 15% 0%;
}

.card-body-simple {
    display: inline-block;
    width: 49%;
    padding-left: 10%;
}

.card-resume-simple {
    padding-left: 14%;
    padding-bottom: 1%;
}

.card-complement-simple {
    padding-top: 1%;
}

.card-intertitre-simple {
    text-align: left;
    margin-bottom: -1%;
}

.card-text {
    text-align: left;
    padding: 2% 0;
}

.date {
    font-weight: normal;
    text-align: center;
}

.card-contexte {
    text-align: right;
}

.card-title-multi {
    margin: 6% 0%;
    display: inline-block;
    width: 49%;
    text-align: right;
}

.card-body-multi {
    display: inline-block;
    width: 960px;
}

.card-resume-multi {
    padding-left: 14%;
    padding-bottom: 1%;
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    text-align:left;
}

.card-complement-multi {
    padding-top: 1%;
}

.card-intertitre-multi {
    text-align: left;
    margin-bottom: -2%;
}

.carousel-indicators {
    bottom: -25px;
}

.carousel-indicators [data-bs-target] {
    background-color: #6c757d;
}

.carousel-control-next, .carousel-control-prev {
    width: 120px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='grey'><path%20d='M11.354%201.646a.5.5%200%200%201%200%20.708L5.707%208l5.647%205.646a.5.5%200%200%201-.708.708l-6-6a.5.5%200%200%201%200-.708l6-6a.5.5%200%200%201%20.708%200z'/></svg>");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='grey'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}

main .active {
    border-style: none;
}

.titre-video {
    margin-bottom: -0.3%;
}

.pale {
    background-color: white;
    color: #495057;
}

.fonce {
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
}

.card-title-double {
    margin-bottom: 3%;
}

.card-body-double {
    width: 100%;
}

.card-body-double p {
    text-align: left;
}

.card-complement-double {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.card-intertitre-double {
    text-align: left;
    width: 80%;
    margin: 3% auto -3% auto;
}

.card-text-double{
    width: 80%;
    margin: 3% auto;
}

.card-complement-double a {
    margin-bottom: 3%;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #adb5bd !important;
    border-color: #6c757d !important;
    font-size:larger;
}

.card-complement-double textarea {
    width: 90%;
    height: 700px;
    font-size:10px;
}

.cache {
    display: none;
}

p a, p a:hover, p a:active, p a:visited {
    color:#6c757d;
    font-weight: bold;
}

p a:hover {
    font-weight: bolder;
}

.footer {
    color: white !important; 
    background-color: #6c757d;
    text-align: center;
    padding: 3% 0%;
}

.disclamer-simple, .disclamer-double, .disclamer-multi {
    /*width: 80%;*/
    color:grey;
    text-align: center;
    margin: 2% auto;
}

.disclamer-double {
    width: 80%;
}

.disclamer-text {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-weight: bold;
    text-align: left;
    width: 83%;
}

.disclamer-image {
    display: inline-block;
    margin: 0 50px 0 0;
    width: 1%;
    text-align: right;
    vertical-align: middle;
}

.btn-url {
    margin : 15%;
}

/*.fa {
    font-size: 235%;
}*/

.p-5 {
    padding : 0 !important;
}